:root {
    --color-body: #f2f2f2;
    --color-text: #404040;
    --color-link-body: #8c5849;
    --color-link-text: #c7ffef;
    --color-header: #498c79;

    --font-size: 12pt;
    --font-family: monospace;
}

a {
    color: var(--color-link-body);

    &:hover {
        opacity: 0.7;
    }
}

body {
    color: var(--color-text);
    background-color: var(--color-body);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: 1.6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    align-items: start;
    gap: 1rem;

    .card {
        &>* {
            padding: 0.5rem;
        }

        header {
            color: var(--color-body);
            background-color: var(--color-header);
            font-variant: small-caps;
        }

        footer {
            font-size: small;
            color: var(--color-link-text);
            background-color: var(--color-text);

            span {
                cursor: pointer;
            }
        }

        header, footer {
            text-align: center;
            font-family: sans-serif;
            font-style: italic;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

p {
    &::first-letter {
        padding-left: 1em;
    }
}

sup, sub {
    font-style: italic;
    font-size: small;
}

sub {
    display: block;
    text-align: right;
}

.text-center {
    text-align: center;
}

@media (max-width: 480px) {
    body {
        display: block;

        .card {
            margin-bottom: 1rem;
        }
    }
}
